<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/homePage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">  
    <title>home Page</title>
</head>
<body>
    
    <div class="trackerHead">
      <div class="bg-opacity"></div>
      <div class="bg-video">  
        <video src="../static/video/gropie-tracker.mp4"  autoplay loop muted></video>
        <div class="video-text">
    <a href="http://localhost:8045/artists" class="text"> 
        <h1>GROUPIE TRACKER</h1>
        <p>Find out more about your favourite artists and groups</p>  
    </a>
</div>
      </div>
    </div>
</body>
</html>